<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Holtyc</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
 
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap" rel="stylesheet"> 

        <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
        <link id="theme-style" rel="stylesheet" type="text/css" href="">
    </head>

    <body>
    
        <section class="s1">

                <div></div>
                            
                <div class="logo-image">
                    <img id="logo-image" src="{% static 'images/holtyc.png' %}" alt="My images">
                </div>

                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="#about-us">About</a>
                    <a href="#crew">Crew</a>
                    <a href="#contact">Contact</a>
                </div>

                <script type="text/javascript" src="{% static 'js/navigation-bar.js' %}"></script>
                  


                <div class="main-container">
                    <div class="intro-wrapper">
                        <div id="nav_wrapper">
                            <div class="dots-wrapper">
                                <div id='dot-1' class="browser-dot"></div>
                                <div id='dot-2' class="browser-dot"></div>
                                <div id='dot-3' class="browser-dot"></div>
                            </div>
                        
                            <div class="navigation-bar">    
                                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
                            </div>
                        </div>
                       
                        <img id="console-image" src="{% static 'images/console.png' %}" alt="console"> 
                        
                    </div>
                </div>
        </section>
        <section class="s2">
            <div class="main-container" id="about-us">
    
                <div class="about-wrapper"> 
                    <div class="about-us">
                        <h4>More about us</h4>

    
                        <p>We are a young startup. That is specialising on IT and mechanics.</p>
    
                        <p>We have a solid understanding in these grounds and we want to create and develop new and new projects. We would love to work with exitng creativ people 
                             and we are hoping to expand our team.</p>
                        
                        <hr>
                            
                        <h4>TOP OF OUR EXPERTISE</h4>
    
                        <p>Javascript, Python, HTMl, CSS, 3D Printing</p>
                    
                    </div>
                    <div class="social-links">
                        <img id="social_img" src="{% static 'images/grupa.png'%}">
                    </div>
                </div>
    
            </div>
        </section>
        <section class="s1">
            <div class="main-container">
    
                <div class="about-wrapper">
                    <div class="social-links">
                        <img id="social_img" src="{% static 'images/inside.jpg'%}">
                    </div>



                    <div class="about-me">
                        <h4>URX</h4>
    
                        <p>URX is a retro gaming console, that is meant for creativ makers.</p> <p> Creativ because being creative is the main idea of our project. We want
                             to develop a small group of URX fanatics such as we are and with them we want to more and more upgrade our console and who knows where it can gets. 
                        </p>
    
    
                        <hr>


                        <h4>Source code</h4>

                        <p><a href="#">github</a></p>
                    </div>                                                        
                </div>
    
            </div>
        </section>
        <section class="s2">
            <div class="main-container">
    
                <div class="about-wrapper">
                    <div class="about-me">
                        <div class="padding-top">
                            <h4>Parts of URX</h4>
        
                            <p>Main brain of URX is arduino nano every. The housing for the arduino is 3D printed. Main display is dot matrix 16x16 and secondary display is OLED 128x32.
                            It's programmed in C.</p>
                        </div>
                        <hr>
                        <h5>Find us on Discord</h5>
                        
                        <a target="_blank" href="https://discord.gg/jyyd2QarMF">Holtyc</a>  

                    </div>
                    
                    
                    
                    <div class="social-links">
                        <img id="social_img" src="{% static 'images/view.jpg'%}">
                    </div>
                </div>
    
            </div>
        </section>
        <section class="s1">
            <div class="main-container"id="crew">
                <h3 style="text-align: center; padding-top: 50px;">
                    Crew</h3>
                <!-- <div id="crew" class="crew-anchor"></div> -->
                <div class="crew-wrapper">

                    <div class="crew-mamber">
                        <img class="thumbnail" src="{% static 'images/kabosak.png'%}">
                        <div class="post-preview">
                            <h6 class="post-title">Jan Holý</h6>
                            <p class="post-intro">construction author of URX. He's very good with 3D printer. C programming language developer</p>
                        
                            <a href="https://www.instagram.com/hanzalt1/?hl=cs">Instagram</a>
                        </div>
                    </div>


                    <div class="crew-mamber">
                      <img class="thumbnail" src="{% static 'images/golisek.png'%}">
                        <div class="post-preview">
                            <h6 class="post-title">Štěpán Koliáš</h6>
                            <p class="post-intro">Author of the web. Javascript, Python and Django developer. &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</p>
                            <a href="https://www.instagram.com/kolias_stepan/">Instagram</a>
                        </div>
                    </div>


                    <div class="crew-mamber">
                        <img class="thumbnail" src="{% static 'images/stepik.jpg'%}">
                        <div class="post-preview">
                            <h6 class="post-title">Mikuláš Tycar</h6>
                            <p class="post-intro">Designer &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</p>
                            <a href="https://www.instagram.com/mikulastycar/">Instagram</a>
                        </div>
                    </div>

                </div>

                </div>
            </div> 
       
        </section>
        <section class="s2">
            <div class="main-container" id="contact">
                    <div class="contact-container">
                        <h3 style="text-align: center; padding-top: 30px;">Contact us</h3>

                        <form id="contact-form" method="post" action="{% url 'send_email' %}">
                            {% csrf_token %}

                            <label>Name</label>
                            <input class="input-field" type="text" name="name" required>

                            <label>Subject</label>
                            <input class="input-field" type="text" name="subject">

                            <label>Email</label>
                            <input class="input-field" type="text" name="email" required>


                            <label>Message</label>
                            <textarea class="input-field" name="message" required></textarea>
                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}



                            <input id="submit-btn" type="submit" value="Send">
                        </form>
                    </div>
                </div> 
            </div>
        </section>




    </body>
</html>